{% extends "seller/base_seller.html" %}

{% block content %}

<div class="container mt-5">
 <a href="{% url 'seller_dashboard' %}">
    <i class="fa-solid fa-arrow-left"></i> Back
</a>

<h2>My Orders</h2>

<div class="card p-3 mb-4">
<h5>Total Revenue</h5>
<h3>₹{{ total_revenue }}</h3>
</div>

<table class="table table-bordered">

<thead>
<tr>
<th>Order ID</th>
<th>Product</th>
<th>Customer</th>
<th>Qty</th>
<th>Price</th>
<th>Total Earned</th>
<th>Date</th>
</tr>
</thead>

<tbody>

{% for item in orders %}

<tr>

<td>#{{ item.order.id }}</td>

<td>{{ item.product.name }}</td>

<td>{{ item.order.full_name }}</td>

<td>{{ item.qty }}</td>

<td>₹{{ item.price }}</td>

<td><strong>₹{{ item.total }}</strong></td>

<td>{{ item.order.created_at }}</td>

</tr>

{% empty %}

<tr>
<td colspan="7" class="text-center">No orders yet</td>
</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}